body {
    font-family: "Inter", sans-serif;
    /* background-image: url(Captura\ de\ tela\ 2026-06-10\ 144504.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    margin: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B2454;
    color: #D9D9D9;
    padding: 20px 30px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}

/* header */

/* logo */
.logo i {
    color: #FFD400;
    ;
}

.logo {
    display: flex;
    gap: 10px;
}

/* menu reader */
.nav-header span {
    color: #8A94A6;
    ;
    font-size: 12px;
    font-weight: bold;
    margin-right: 25px;
}

.nav-header span:hover {
    color: #FFD400;
    border-bottom: 2px solid;
    /*borda da linha*/
    padding-bottom: 5px;
    /*distancia da linha parao nome */
}

/* icons */
.icon-header {
    color: #8A94A6;
    display: flex;
    gap: 10px;
}

.icon-header #sino:hover {
    color: #FFD400;
}

.icon-header #conf:hover {
    color: #FFD400;
}

/* Primeira parte do main */
.equipes-main {
    opacity: 0.9;
    width: 300px;
    height: 800px;
    background-color: #0B2454;
    border-radius: 10px;
    /*borda da caixa*/
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* separar do header */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* borda da caixa */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* borda da caixa */
    margin-top: 20px;
    margin-left: 20px;
}

.equipes-titulo-main {
    display: flex;
    justify-content: space-between;
    /* separar o titulo do icon colocando um para o comeco e outro para o final*/
}

.equipes-titulo-main strong {
    font-size: 21px;
    color: #D9D9D9;
    text-align: left;
}

.equipes-titulo-main i {
    font-size: 20px;
    color: #FFD400;
}

/* caixas 1 */
.caixa-main {
    width: auto;
    height: 90px;
    background-color: rgba(229, 242, 243, 0.041);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}

/* caixas */
.titulo-caixa-main {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 0px;
    /* espaço entre os dois */
}

.strong-caixa-main {
    font-size: 15px;
    color: #D9D9D9;
    margin-top: 10px;
    margin-left: 13px;
    white-space: nowrap;
}

.box-status-main {
    background-color: #ffd5003d;
    color: #ffd400;
    padding: 4px 8px;
    text-transform: uppercase;
    border-radius: 18px;
    border: 1px solid #ffd5005d;
    font-size: 11px;
    margin-top: 15px;
    font-weight: 600;

}

.viatura-caixa {
    font-size: 11px;
    color: #d9d9d94f;
    margin-left: 13px;

}

.local-caixa {
    color: #d9d9d94f;
    font-size: 12px;
    font-weight: 600;
    margin-left: 13px;
}

.div-viatura {
    display: flex;
    margin-top: -6px;
}

/* caixa 2 */
.box2-status-main {
    background-color: #33ff003d;
    color: #2fd12f;
    padding: 4px 8px;
    text-transform: uppercase;
    border-radius: 18px;
    border: 1px solid #1eff003d;
    font-size: 11px;
    margin-top: 15px;
    font-weight: 600;
    margin-left: 31px;

}

/* caixa 3 */
.box3-status-main {
    background-color: #ff000018;
    color: #e20f0f4d;
    padding: 4px 8px;
    text-transform: uppercase;
    border-radius: 18px;
    border: 1px solid #df1e1e28;
    font-size: 9px;
    margin-top: 15px;
    font-weight: 600;
    white-space: nowrap;


}

.titulo-caixa-main3 {
    display: flex;
    align-items: center;
    gap: 30px;
    /* espaço entre os dois */
    margin-bottom: 0px;
}

/* Fila atendimento main*/
.btn-dispachar {
    background-color: #b72020;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

}

/* Monitoramento */
.monitoramento-main {
    display: flex;
    opacity: 0.9;
    width: 300px;
    height: 82px;
    background-color: #0B2454;
    border-radius: 10px;
    box-sizing: border-box;
    /* borda da caixa */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* borda da caixa */
    margin-left: 20px;
    /* Localização na pagina */
    position: absolute;
    left: 330px;
    top: 90px;
}

.icon-monitoramento {
    background-color: #ffd5003d;
    /* Fundo amarelo bem transparente (10% de opacidade) */
    /* Borda amarela sutil para dar acabamento */
    width: 38px;
    /* Largura da caixinha */
    height: 38px;
    /* Altura da caixinha (igual à largura para ser um quadrado perfeito) */
    border-radius: 50%;
    /* Centraliza o ícone perfeitamente dentro do círculo */
    color: #FFD400;
    font-size: 15px;
    display: flex;

    align-self: center;
    align-items: center;
    justify-content: center;
    /* alinha a bolinha e o icon no centro */
    margin-left: 15px;
}

.subtitulo-monitoramento {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    color: #d9d9d94f;
    font-weight: 600;
    display: flex;
    margin-top: 18px;
}














/* Posicionamento absoluto para colocar a caixa do lado direito da tela */
.atendimento-main {

    position: absolute;
    right: 0;
    top: 70px;
    opacity: 0.9;
    width: 300px;
    height: 800px;
    background-color: #0B2454;
    border-radius: 10px;
    /*borda da caixa*/
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* separar do header */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* borda da caixa */
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* borda da caixa */
    margin-top: 20px;
    margin-left: 20px;
}

.logo span {
    font-weight: 700;
}